.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f5f5f5; /* Light grey background to contrast with the buttons */
    min-height: 100vh;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
  }

  .userAllergy {
    background-color: lightblue; /* Example color */
    border: 2px solid blue; /* Example border */
  }
  
  
  .button {
    background-color: white;
    color: #d32f2f; /* Red theme color */
    border: 2px solid #d32f2f;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #d32f2f;
    color: white;
  }
  
  .button.selected {
    background-color: #d32f2f;
    color: white;
  }
  
  .ellipsis {
    margin-bottom: 2rem;
    border: 2px solid #d32f2f;
    height: 4px;
    width: 60px;
    background-color: #d32f2f;
  }
  
  p {
    font-size: 1.2rem;
    color: #333;
  }
  
  button[disabled] {
    background-color: #f0f0f0;
    border-color: #ccc;
    color: #aaa;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust for smaller screens */
    }
  }
  