
.container {
  background-color: #ffebee; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 35px auto;
  transition: all 0.3s ease;
}

.container:hover {
  transform: scale(1.02);
}

h1 {
  color: #d32f2f;
  text-align: center;
}

.h1 {
  font-size: 36px !important;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  color: #b71c1c; 
  margin-bottom: 5px;
}

.input, .textarea, .fileInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #e57373;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  max-width: 460px;
}

.input:focus, .textarea:focus, .fileInput:focus {
  border-color: #c62828; 
}

.textarea {
  min-height: 100px;
}

.button {
  background-color: #d32f2f; 
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: #bb0e0e; 
}
.fileInput{
  background-color: #e57373;
  color: #ffebee;
  font-size: 1.1rem;
}
