.footer {
  background-color: #ffcccbd0; /* Light red background */
  padding: 40px 20px;
  text-align: left;
  font-family: 'Arial', sans-serif;
  border-top: 1px solid #b22222; /* Dark red border */
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #b22222 !important; /* Dark red for titles */
  margin-bottom: 20px;
}

li {
  margin: 0;
  list-style: none;
  padding: 0;
}

.links {
  list-style: none;
  padding: 0;
  margin: 1px;
  height: fit-content;
  margin-bottom: 5px;
}

.link {
  margin-top: 7px;
  display: block;
  color: #c00; /* Bright red for links */
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  text-decoration: none; /* Underline on hover */
  color: #e63946; /* Lighter red on hover */
}

.address {
  margin: 2px;
  font-size: 24px;
  color: #fff; /* White color for address text */
}

.address p {
  font-size: 14px;
  margin: 3px 0;
  color: #b22222 !important; /* Dark red for address details */
  padding: 2px;
}

.phone, .website {
  font-size: 16px;
  color: #c00; /* Bright red for phone and website */
  text-decoration: none;
  margin-top: 1px;
}

.phone:hover, .website:hover {
  text-decoration: underline; /* Underline on hover */
  color: #e63946; /* Lighter red on hover */
}

.emailWrapper {
  margin-bottom: 20px;
}

.email {
  color: #c00; /* Bright red for email */
  font-size: 16px;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline; /* Underline on hover */
  color: #e63946; /* Lighter red on hover */
}

.socialIcons {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  gap: 15px;
}

.socialIcon {
  color: #b22222; /* Dark red for social icons */
  font-size: 24px;
  transition: color 0.2s ease;
}

.socialIcon:hover {
  color: #e63946; /* Lighter red on hover */
}

.boxCompany, .boxSupport {
  width: 45%;
  padding: 0 10%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .boxCompany, .boxSupport {
    width: 100%;
    margin-bottom: 20px;
  }

  .socialIcons {
    justify-content: center;
  }
}
